extends layout

block content
    h1 #{user.name}

    p
        a(href='/users') Back to everyone

    form(action='/users/#{user.id}', method='POST')
        p Edit this user:
        input(type='text', name='name', placeholder='#{user.name}', required)
        input(type='submit', value='Update')

    form(action='/users/#{user.id}', method='POST', onsubmit='return confirm("Are you sure?");')
        p And if you're feeling destructive…
        input(type='hidden', name='_method', value='DELETE')
        input(type='submit', value='Delete User')
